/* CSS Document */
.topbar{
	text-align: center;
	background-color: #303030;
}

.topbarwords{
	padding-right: 35px;
	display: inline-block;
	color: #d6d6d6
	
	
}

.topbarpics{
	padding-right: 35px;
	
}

