/* CSS Document */
p{
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
}

.topbar{
	text-align: center;
	background-color: #303030;
}

.topbarwords{
	vertical-align: middle;
	padding-right: 50px;
	display: inline-block;
	color: #d6d6d6

}

.imagestab1{
text-align: center;
background-color: #fbfbfd;
}

.imagestab{
display: inline-block;
vertical-align: bottom;
padding-top: 20px;
padding-right: 47px;
color: #464648;
}

.new{
	margin-bottom: -30px;
}

.upsidaisytext{
	margin-bottom: 39px;
}

.newtext{
	color: #bf4800;
}

.cashback1{
	text-align: center;
	background-color: #f5f5f7;
	padding-top: 1px;
	padding-bottom: 1px;
	
}

.cashback{
	color: #1d1d1f;
	font-size: 19px;
}

.learnmore{
	color: #1371cf;
	font-size: 19px;
}

.iphone13pro{
	text-align: center;
	padding-top: 60px;
	font-size: 35px;
}

.ohsopro{
	font-size: 65px;
	
}

.tradein{
	font-size: 33px;
	
}

.buylearnmore{
	display: inline-block;
	vertical-align: center;
	
}

#buyblue{
	font-size: 25px;
	color: white;
	background-color: #1371cf;
	padding-bottom: 12px;
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 30px;
}

#buylearnmore{
	font-size: 35px;
	padding-left: 40px;
	color: #1371cf;

}

.bottombar{
	background-color: #f5f5f7;
	margin-top: -22px;
	
}

.inviz{
	color: #f5f5f7;
}









