/* CSS Document */

body{
	background-color: #212a53;
}

a{
	color: white;
}

.titlediv2{
		display: inline-block;
	text-align: center;
	
}

.title2{
	color: white;
	font-size: 2vw;
	text-align: center;
}

.links2{
	text-align: center;
	width: 10vw;
	color: white;
	border: solid thin white;
	margin-left: 15.5vw;
	margin-right: 15.5vw;
}

.mainheader2{
	display: inline-block;
	margin-left: 17vw;
}

.cacoon{
	width: 10vw;
	height: auto;
}

.cacoondiv{
	display: inline-block;
	vertical-align: top;
	margin-top: -1vw;
	
}

.aboutmap{
	color: white;
	text-align: center;
}

.moremap{
	color: white;
	text-align: center;
}

.mapimage{
	width: 50vw;
	height: auto;
	padding-left: 12.5vw;
}

