

body{
	background-color: #212a53;
}

.all{
	display: inline-block;
	
}

.title{
	color: white;
	font-size: 2vw;
}

.cacoondiv{
	display: inline-block;
	vertical-align: top;
	margin-top: -1vw;
}

.titlediv{
	display: inline-block;
}