

body{
	background-color: #212a53;
}

a{
	color: white;
}

.mainheader{
	display: inline-block;
	margin-left: 17vw;
}

.title{
	color: white;
	font-size: 2vw;
	text-align: center;
}

.cacoondiv{
	display: inline-block;
	vertical-align: top;
	margin-top: -1vw;
	
}

.cacoon{
	width: 10vw;
	height: auto;
}


.titlediv{
	display: inline-block;
	text-align: center;
}

.links{
	text-align: center;
	width: 10vw;
	color: white;
	border: solid thin white;
	margin-left: 15.5vw;
}

.pages{
	text-align: left;
	
}

.welcome{
	color: white;
	text-align: center;
}

.whatisit{
	color: white;
	text-align: center;
}

.homeimage{
	width: 50vw;
	height: auto;
	margin-left: 12.5vw;
}

.icons{
	background-color: #0B012E;
	margin-left: -1vw;
	margin-right: -1vw;
	text-align: center;
	color: white;
}

.knighticon{
	width: 6vw;
	height: auto;
	padding-top: -1vw;
	display: inline-block;
}

.horneticon{
	width: 6vw;
	height: auto;
	padding-bottom: -2vw;
	display: inline-block;
}

.zoteicon{
	width: 4.5vw;
	height: auto;
	display: inline-block;
}

.vesselicon{
	width: 4.2vw;
	height: auto;
	display: inline-block;
}

.swordticon{
	width: 4.2vw;
	height: auto;
	display: inline-block;
}









