
.all{
	background-color: yellow;

}

.leftbar{
	display: inline-block;
	width: 12vw;
	margin-left: -8.5px;
	margin-top: -8.5px;
	text-align: center;
	vertical-align: top;
	background-color: yellow;
	border: solid thin black;
	color: #001489;
}

.blueyellow{
	display: inline-block;
	vertical-align: top;
	margin-left: -5px;
	margin-top: -8.5px;
	width: 85vw;
}
	
.knightimage{
	vertical-align: top;
	text-align: center;
	background-color: yellow;
	border: solid thin black;
	
}

.bb7028{
	text-align: center;
	background-color: yellow;
	padding-top: 5px;
	font-size: 30px;
	border: solid thin black;
}

.topbluebar{
	vertical-align: top;
	background-color: blue;
	text-align: center;		
	border: solid thin black;
	width: 85vw;
	
}

.leftbluebartext{
	color: white;
	padding-right: 40px;
	font-size: 43px;
	display: inline-block;
}

.rightbluebartext{
	color: white;
	padding-right: 40px;
	font-size: 50px;
	display: inline-block;
}