/* CSS Document */

.topbluebarwords{
	display: inline-block;
	color: white;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 13px;
	
		
}


.topbluebar{
	background-color: #001489;
	text-align: center;
		
}



.knightpic{
	padding-top: 25px;
	padding-left: 30vw;
	padding-right: 400vw;
	padding-bottom: 20px;
}

.knightpicline{
	display: inline-block;
	width: 70vw;
}


#districthomebutton{
	background-color:  #001489;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: 60px;
	
}

#ourschoolsbutton{
	background-color:  #001489;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: 60px;
		
}

#magnifybutton{
	background-color:  #FFD400;
	color: black;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: 60px;
	
}


.bottombuttons{
display: inline-block;
text-align: center;
vertical-align: top

	
}

.bottombuttons1{
	background-color: whitesmoke;
	text-align: center;
	padding-top: 25px;
	
}







