
.all{
	background-color: yellow;

}

.leftbar{
	display: inline-block;
	width: 12vw;
	margin-left: -.3vw;
	margin-top: -.3vw;
	text-align: center;
	vertical-align: top;
	background-color: yellow;
	border: solid thin black;
	color: #001489;
}

.blueyellow{
	display: inline-block;
	vertical-align: top;
	margin-left: -.16vw;
	margin-top: -.3vw;
	width: 86vw;
}
	
.knightimage{
	vertical-align: top;
	padding-left: 27vw;
	padding-top: 2vw;
	background-color: yellow;
	border: solid thin black;
	
}



.bb7028{
	text-align: center;
	background-color: yellow;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 1vw;
	border: solid thin black;
}

.topbluebar{
	vertical-align: top;
	background-color: blue;
	text-align: center;		
	border: solid thin black;
	width: 86vw;
	
}

.leftbluebartext{
	color: white;
	padding-right: 1vw;
	font-size: 1vw;
	display: inline-block;
}

.rightbluebartext{
	color: white;
	padding-right: 1vw;
	font-size: 1.5vw;
	display: inline-block;
}

.buttonpicline{
	border: solid thin black;
	background-color: blue;
	text-align: center;
	
}

.districthomebutton{
	display: inline-block;
	text-align: center;
	color: white;
	padding-bottom: 1vw;
	padding-left: 7vw;
	padding-right: 7vw;
	vertical-align: 1.5vw;
	font-size: 2vw;
	margin-top: 1vw;
	
}

.ourschoolsbutton{
	display: inline-block;
	color: white;
	padding-bottom: 1vw;
	padding-left: 7vw;
	padding-right: 7vw;
	vertical-align: 1.5vw;
	font-size: 2vw
}

.magnifybutton{
	border: solid thin black;
	display: inline-block;
	color: white;
	background-color: blue;
	text-align: center;
	padding-top: .5vw;
	padding-bottom: 1vw;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
	vertical-align: 1vw;
	font-size: 3vw;
	margin-left: 7vw;
	
}





