/* CSS Document */


body{
	background-color: #6DA0AF;
	margin: 10px;
	overflow: auto;
}




.title{
	text-align: center;
	color: white;
}

.aboutmediv{
	border: 1px solid black;
	padding: 10px;
	padding-top: 5px;
	display: inline-block;
	color: white;
	width: 40vw
}

.aboutmeheader{
	text-align: center;
	color: white;
}

.linksheader{
	text-align: center;
	color: white;
}

.linksdiv{
	border: 1px solid black;
	padding: 10px;
	padding-top: 5px;
	width: 350px;
	display: inline-block;
	color: white;
}

.linkaboutme{
	display: inline-block;
}

.videogametitle{
	color: white;
}

.videogamepics{
	border-radius: 10px;
	color: white;
}

.penguinheader{
	color: white;
}

.pooguin{
	border: 2px solid white;
	padding:  10px;
	color: white;
	display: inline-block;
}

.class1{
	color: green;
	margin-right: -5px;
	display: inline-block;
	width: 140px;
	height: 50px;
	vertical-align: bottom;
	white-space: nowrap;
		
}
.class2{
	color: lightblue;
	margin-right: -5px;
	display: inline-block;
	width: 180px;
	height: 50px;
	vertical-align: bottom;
	white-space: nowrap;
		
}
.class3{
	color: blue;
	margin-right: -5px;
	display: inline-block;
	width: 140px;
	height: 50px;
	vertical-align: bottom;
	white-space: nowrap;
		
}
.class4{
	color: mediumpurple;
	margin-right: -5px;
	display: inline-block;
	width: 200px;
	height: 50px;
	vertical-align: bottom;
	white-space: nowrap;
		
}
.class5{
	color: indianred;
	margin-right: -5px;
	display: inline-block;
	width: 140px;
	height: 50px;
	vertical-align: bottom;
	white-space: nowrap;
}

.bucketheader{
	color: white;
}

.bucketlist{
	border: 1px solid black;
	display: inline-block;	
 	padding: 10px;
	color: white;
	
}

.utahheader{
	color: white;
	
}

.utahpics{
	vertical-align: top;
	display: inline-block;
	width: 30vw;
	height: auto;
	border-radius: 10px;
	
}

.dreamtext{
	color: white;
}

.dreamheader{
	color: white;
}

.greenlandpic{
	display: inline-block;
	width: 40vw;
	height: auto;
	border-radius: 10px;
}

.peerstext{
	
	color: white;
}

.peerlinks{
	color: white;
	display: inline-block;	
	padding: 10px;
	border: 1px solid black;
}

#minus, #plus, #total{
	display: inline-block;
}


.numberfunheader{
	color: white;
}











