/* CSS Document */






.rightbar{
	display: inline-block;
	width: 20vw;
}

.leftbar{
	display: inline-block;
	border: solid thin lightblue;
	background-color: whitesmoke;
	width: 11.5vw;
	text-align: left;
	padding-left: 46px;
	font-size: 20px;
	margin-left: -8px;
	margin-top: -9px;
}

.more23{
	font-size: 20px;
	height: 50px;
	width: 130px;
}

.editlinks{
	padding-left: 110px;
}

.contents{
	padding-left: 20px;
	border: solid thin black;
	background-color: whitesmoke;
	width: 200px;
}

.contentstitle{
	font-size: 22px;
	padding-left: 20px;
}

.title{
	font-size: 35px;
	padding-left: 20px;
}

.cen20{
	font-size: 30px;
}


.purpalbartext{
	font-size: 26px;
}

.purpalbar{
	margin-left: 25px;
	background-color: #A599FF;
}